{% extends 'base.html.twig' %}

{% block title %}{{ enterprise.getRaisonSociale() }}{% endblock %}

{% block body %}

<div class="example-wrapper">
  <div class="container mt-5">
    <h1 class="text-center mb-4">Information sur l'Entreprise</h1>
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h2>{{ enterprise.getRaisonSociale() }}</h2>
          </div>
          <div class="card-body text-center">
            <p><strong>SIREN:</strong> {{ enterprise.getSiren() }}</p>
            <p><strong>SIRET:</strong> {{ enterprise.getSiret() }}</p>
            <p><strong>Adresse Géographique:</strong> {{ enterprise.getAdresse()["Geo_adresse"] }}</p>
            <h3>Coordonées GPS</h3>
            <p><strong>Latitude:</strong> {{ enterprise.getAdresse()["GPS"]["Latitude"] }}</p>
            <p><strong>Longitude:</strong> {{ enterprise.getAdresse()["GPS"]["Longitude"] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}