{% extends 'base.html.twig' %}

{% block title %}Mes entreprises{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <div class="sketchy-banner mb-4">
            <h2 class="text-center">Bienvenue sur la page de Gestion des Entreprises</h2>
            <p class="text-center">Ici, vous pouvez rechercher et afficher des informations sur différentes entreprises.</p>
        </div>


        <div class="text-center">
            {% for message in app.flashes('warning') %}
                <div class="alert alert-warning"> {{ message }}</div>
            {% endfor %}
        </div>

            {% if enterprises is not empty %}
                <table class="table table-hover ml-5">
                    <thead>
                        <tr>
                        <th scope="col">Raison Sociale</th>
                        <th scope="col">Siren</th>
                        <th scope="col">Siret</th>
                        <th scope="col">Adresse</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enterprise in enterprises %}
                            <tr class="table-primary">
                                <td>
                                    <a href="{{ path('save_enterprise', {'siren': enterprise.siren}) }}">{{ enterprise.Raison_sociale }}</a>
                                </td>
                                 <td>
                                    <a href="{{ path('save_enterprise', {'siren': enterprise.siren}) }}">{{ enterprise.siren }}</a>
                                </td>
                                 <td>
                                    <a href="{{ path('save_enterprise', {'siren': enterprise.siren}) }}">{{ enterprise.siret }}</a>
                                </td>
                                 <td>
                                    <a href="{{ path('save_enterprise', {'siren': enterprise.siren}) }}">{{ enterprise.Adresse.Geo_adresse }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}


            <div class="d-flex justify-content-between align-items-center my-3">
                {% if enterprises is not empty %}
                    <p>Page {{ current_page }} sur {{ total_pages }}</p>
                {% endif %}
                
                <div class="d-flex column-gap-3">
                    {% if show_previous %}
                        <a href="{{ path('app_home', { search: search_term, page: current_page - 1 }) }}" class="btn btn-secondary">Précédent</a>
                    {% endif %}
                    {% if show_next %}
                        <a href="{{ path('app_home', { search: search_term, page: current_page + 1 }) }}" class="btn btn-secondary">Suivant</a>
                    {% endif %}
                </div>
            </div>

    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}

